* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  color: #444;
}

.container {
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.inbox {
  margin-top: 4rem;
}

.email {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.email__icon {
  width: 48px;
  height: 48px;
  margin-right: 1rem;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.email__icon:hover {
  transform: scale(1.1);
}

.email__icon--closed {
  background-image: url('img/email-closed.svg');
  background-size: contain;
}

.email__fill {
  flex: 1;
}

.email__sender-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
